* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
button:hover {
    background-color:rgba(255,105,0,1)
}
* button{
color: #194866;
}
#img1 {
    margin-top: 20px;
    margin-left:30px ;
}
.div1 {
    margin-left: 80px;
    margin-top: 75px;
}
.ul1 {
    list-style-type:disc ;
    color:orangered;
    font-size: 30px;
}
ul li span{
    color:rgb(51,167,181);
    font-size: 20px;
    margin-bottom: 0px;
}
.A1 {
    margin-top:0px;
    margin-right:850px;
    padding-left: 15px;
    font-size: 70px;
    color: #194866;
}
.div2 {
    float: right;
    margin-top: -290px;
    margin-left: 900px;
    font-size: 20px;
    margin-right:300px;
}
.p1 {
    color:rgb(135, 142, 148);
}
.but1 {
    padding: 10px;
    border-radius: 40px;
    font-size: 25px;
    margin-top: 20px;
    cursor: pointer;
}

#img2 {
   
    width:100%;
    height: 75%;
    cursor: pointer;
}
.div4 {
    margin-top: 80px;
    margin-left: 100px;     
}
#img3 {
    height:40%;
    max-width: 40%;
    border-radius: 20px;
    cursor: pointer;
}
.p2 {
    float:right;
    margin: 8px 700px 60px 0px;
    color:rgb(135, 142, 148); 
    font-family:Arial, Helvetica, sans-serif;
}
.A2 {
    float: right;
    margin-right:250px;
    margin-left:700px;
    margin-top: -400px;
    font-size: 50px;
    color: #194866;
}
.p3 {
    float: right;
    color:rgb(135, 142, 148);
    margin-top: -200px;
    margin-left: 700px;
    font-size: 20px;
    margin-right: 300px;
}
.p4 {
    float: right;
    color:rgb(135, 142, 148);
    margin-top:-100px;
    margin-left: 700px;
    font-size: 20px;
    margin-right: 300px;
}
.but2 {
    padding: 10px;
    border-radius: 40px;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 700px;
    cursor: pointer;
}
.div5 {
    margin-top: 150px;
    margin-left: 100px;
}
.p5 {
    color:rgb(135, 142, 148); 
    margin-top: -50px;
    font-family:Arial, Helvetica, sans-serif;
}
.A3 {
    font-size: 50px;
    color: #194866;
}
.p6 {
    color:rgb(135, 142, 148);
    font-size: 20px;
    margin-right: 900px;
   
}
.p7 {
    color:rgb(135, 142, 148);
    font-size: 20px;
    margin-right: 900px;
}
.but3 {
    padding: 10px;
    border-radius: 40px;
    font-size: 25px;
    margin-top: 20px;
    cursor: pointer;
}
#img4 {
    float: right;
    margin-top:-350px ;
    margin-right: 200px;
    height:40%;
    max-width: 40%;
    border-radius: 20px;
    cursor: pointer;
}
.div6 {
    margin-top: 130px;
    margin-left: 100px;
}
#img5 {
    border-radius: 20px;
    cursor: pointer;
}
.p8 {
    float: right;
    margin: 8px 650px 60px 0px;
    color:rgb(135, 142, 148);
    font-family:Arial, Helvetica, sans-serif;
}
.A4 {
    float: right;
    margin-right:560px;
    margin-left:550px;
    margin-top: -250px;
    font-size: 50px;
    color: #194866;
}
.p9 {
    float: right;
    color:rgb(135, 142, 148);
    margin-top: -190px;
    margin-left: 650px;
    font-size: 20px;
    margin-right: 350px;
}
.but4 {
    padding: 10px; 
    border-radius: 40px;
    font-size: 25px;
    margin-top: -200px;
    margin-left: 650px;
    cursor: pointer;
}
.div7 {
    margin-top: 150px;
    margin-left: 100px;
}
.p10 {
    color:rgb(135, 142, 148); 
    margin-top: -50px;
    font-family:Arial, Helvetica, sans-serif;
}
.A5 {
    margin-right:1050px;
    font-size:50px;
    color: #194866;
}
.p11 {
    color:rgb(135, 142, 148);
    font-size: 20px;
    margin-right: 950px;
}
.p12 {
    color:rgb(135, 142, 148);
    font-size: 20px;
    margin-right: 900px;
}
.but5 {
    padding: 10px;
    border-radius: 40px;
    font-size: 25px;
    cursor: pointer;
}
#img6 {
    float: right;
    margin-top:-400px ;
    margin-right: 200px;
    height:40%;
    max-width: 40%;
    border-radius: 20px;
    cursor: pointer;
}
.div8 {
    margin-top: 150px;
    height: 100%;
    width: 100%;
    background-color:rgb(246, 233, 217) ;
    padding: 0px 0px 150px 0px;
}
.A6 {
    font-size:50px;
    margin-right: 400px;
    padding: 150px 150px 0px 150px;
    color: #194866;
     
}.p13 {
    color:rgb(135, 142, 148);
    font-size: 20px;
    margin-right: 900px; 
    margin-left: 150px; 
}
.but6 {
    padding: 10px;
    border-radius: 40px;
    font-size: 25px;
    margin-left: 150px;
    cursor: pointer;
}
#img7 {
    float: right;
    margin-top: -250px;
    margin-right: 200px;
    margin-left: 200px;
    size: 50px; 
    height: 400px;
}
.div9 {
    width: 1560px;
    height: 80px;
    background-color: #094061;
    margin-top: 80px;
}
#img8 {
    width: 210px;
    height: 60px;
    padding: 20px 20px 10px ;
}
#img9 {
    float: right;
    padding: 30px 20px 20px 20px;
}
#img10 {
    float: right;
    padding: 30px 20px 20px 20px;
}
#img11 {
    float: right;
    padding: 30px 20px 20px 20px;
}
#img12 {
    float: right;
    padding: 30px 20px 20px 20px;
}
.p14 {
    text-align: center;
    display: inline-block;
    padding-left: 270px;
    color: white;
    font-size: 20px;
}